<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405017595387-2s9p70n670cghuolrba0j69eotiabo78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405017595387-2s9p70n670cghuolrba0j69eotiabo78</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>405017595387-p4t7hfq8cea9l0kin9n9hpvkn5fnno5v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPVA6lySbEJRhELtapal7_gWrAzkr4uVk</string>
	<key>GCM_SENDER_ID</key>
	<string>405017595387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jokesapp</string>
	<key>PROJECT_ID</key>
	<string>jokesapp-f1aa3</string>
	<key>STORAGE_BUCKET</key>
	<string>jokesapp-f1aa3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405017595387:ios:68cc35b81e9d43a5918f5e</string>
</dict>
</plist>